<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="zhiqing-feed" value="https://zhqqitest.pkgs.visualstudio.com/_packaging/zhiqing-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <zhiqing-feed>
        <add key="Username" value="zhiqing" />
        <add key="ClearTextPassword" value="z3mhttdy7t6kpgi2enmkbhmcb7ttv2eioeq3k6y2yoowx5yzztfa" />
    </zhiqing-feed>
</packageSourceCredentials>
</configuration>